In [2]:

import pandas as pd

In [3]:
# Load the twitter data into CSV file

dataf = pd.read_csv('C:/Users/Ankita Padwal/Desktop/Data Mining Projetc/FinalData/Tweets50k.csv', index_col=0)

In [4]:
#Print the head of dataframe

dataf.head(7)

,Tweet_ID,Time_Info,Time_Info.1,Time_Info.2,User_Name,Brand Name,TweetText,No_of_Retweets,Favorite_Count,Place,Time_Zone
0,9.883260e+17,4/23/2018 7:58,4/23/2018,7:58:00 AM,hauspa,ASOS,b'@changeist and @madelineashby talked about t...,0,0,"Amsterdam, The Netherlands",Amsterdam
1,9.883260e+17,4/23/2018 7:58,4/23/2018,7:58:00 AM,_shekss,ASOS,b'RT @TEEWEAR: This is my work and I really ca...,14,0,london,Hawaii
2,9.883260e+17,4/23/2018 7:58,4/23/2018,7:58:00 AM,olu_neyo,ASOS,b'@ASOS_HeretoHelp Please check your DM. I hav...,0,0,"Yigo, GU",NaN
3,9.883260e+17,4/23/2018 7:57,4/23/2018,7:57:00 AM,amyandelizabeth,ASOS,b'Me: I just want a nice pair of jeans that pu...,0,2,"London, England",London
4,9.883260e+17,4/23/2018 7:57,4/23/2018,7:57:00 AM,Joseluisalgar,ASOS,"b'Vale asos y kiabi tienen tallas grandes, per...",0,0,Barcelona,NaN
5,9.883260e+17,4/23/2018 7:57,4/23/2018,7:57:00 AM,demicolleen,ASOS,b'RT @TEEWEAR: This is my work and I really ca...,14,0,London.,London
6,9.883260e+17,4/23/2018 7:56,4/23/2018,7:56:00 AM,olu_neyo,ASOS,b'@ASOS_HeretoHelp Please check your DM. I hav...,0,0,"Yigo, GU",NaN

In [19]:
#FInd out if there is any null values

dataf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52079 entries, 0 to 52078
Data columns (total 11 columns):
Tweet_ID          52079 non-null float64
Time_Info         52079 non-null object
Date              52079 non-null object
Time              52079 non-null object
User_Name         52079 non-null object
Brand Name        52079 non-null object
TweetText         52079 non-null object
No_of_Retweets    52079 non-null int64
Favorite_Count    52079 non-null int64
Place             35608 non-null object
Time_Zone         24304 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 4.8+ MB

In [21]:
dataf.drop(['Time_Info','Date','Time','No_of_Retweets','Favorite_Count','Place','Time_Zone'],axis=1,inplace=True)

ValueError: labels ['Time_Info' 'Date' 'Time' 'No_of_Retweets' 'Favorite_Count' 'Place'
 'Time_Zone'] not contained in axis

In [42]:
### Data Preprocessing

In [83]:
dataf.head()

,Tweet_ID,User_Name,Brand Name,TweetText,pre_clean_len
0,9.882590e+17,Fahad21_KW,ASOS,b'@aaaakandery \xd8\xa7\xd9\x86\xd8\xa7 \xd8\...,674
1,9.882590e+17,Fahad21_KW,ASOS,b'@kuwait_post \xd8\xa7\xd9\x86\xd8\xa7 \xd8\x...,673
2,9.882580e+17,azkabanbitch,ASOS,b'RT @colesprouse: New Cover and story for @AS...,153
3,9.882580e+17,Arthuralvessz,ASOS,b'Mudei meu vocabul\xc3\xa1rio querendo te imp...,168
4,9.882570e+17,braybillions,ASOS,b'he copped that fit off Asos. https://t.co/D0...,55

In [27]:
###Data Preprocessing----------------------------------------------------------------------------------------------------------
#As a way of sanity check, let's look at the length of the string in text column in each entry.

dataf['pre_clean_len'] = [len(t) for t in dataf.TweetText]

In [28]:
dataf.head(5)

,Tweet_ID,User_Name,Brand Name,TweetText,pre_clean_len
0,9.882590e+17,Fahad21_KW,ASOS,b'@aaaakandery \xd8\xa7\xd9\x86\xd8\xa7 \xd8\...,674
1,9.882590e+17,Fahad21_KW,ASOS,b'@kuwait_post \xd8\xa7\xd9\x86\xd8\xa7 \xd8\x...,673
2,9.882580e+17,azkabanbitch,ASOS,b'RT @colesprouse: New Cover and story for @AS...,153
3,9.882580e+17,Arthuralvessz,ASOS,b'Mudei meu vocabul\xc3\xa1rio querendo te imp...,168
4,9.882570e+17,braybillions,ASOS,b'he copped that fit off Asos. https://t.co/D0...,55

In [50]:
from bs4 import BeautifulSoup
#_________---------------------------------------
example1 = BeautifulSoup(dataf.TweetText[279], 'lxml')
print(example1.get_text())

b'RT @Greice_0209: Gostei de um v\xc3\xaddeo @YouTube https://t.co/03qd4EBylQ: Desfile de Moda da ASOS // The Sims M\xc3\xb3vel no emulador #5 \xe2\x80\xb9 Mundo DRIX\xe2\x80\xa6'

In [58]:
dataf.TweetText[17]

"b'Are you kidding @ASOS_Menswear ?!? This was the clothes I was gonna wear to Bae\\xe2\\x80\\x99s graduation!!!! OMGGG WTF!!! https://t.co/wB983hsiSK'"

In [59]:
example1 = BeautifulSoup(dataf.TweetText[17], 'lxml')
print(example1.get_text())

b'Are you kidding @ASOS_Menswear ?!? This was the clothes I was gonna wear to Bae\xe2\x80\x99s graduation!!!! OMGGG WTF!!! https://t.co/wB983hsiSK'

In [60]:
### @mention removal

In [61]:
# Remove mentions

import re
re.sub(r'@[A-Za-z0-9]+','',dataf.TweetText[17])

"b'Are you kidding _Menswear ?!? This was the clothes I was gonna wear to Bae\\xe2\\x80\\x99s graduation!!!! OMGGG WTF!!! https://t.co/wB983hsiSK'"

In [ ]:
# Removal of website addresses in tweet text

In [63]:

re.sub('https?://[A-Za-z0-9./]+','',dataf.TweetText[17])

"b'Are you kidding @ASOS_Menswear ?!? This was the clothes I was gonna wear to Bae\\xe2\\x80\\x99s graduation!!!! OMGGG WTF!!! '"

In [75]:
print(dataf.TweetText[17])
testing = dataf.TweetText[17].replace("Bae\xe2\x80\x99s", "?")
print("\n"+ testing)

b'Are you kidding @ASOS_Menswear ?!? This was the clothes I was gonna wear to Bae\xe2\x80\x99s graduation!!!! OMGGG WTF!!! https://t.co/wB983hsiSK'

b'Are you kidding @ASOS_Menswear ?!? This was the clothes I was gonna wear to Bae\xe2\x80\x99s graduation!!!! OMGGG WTF!!! https://t.co/wB983hsiSK'

dataf.TweetText[228]

In [101]:
dataf.TweetText[128]

'b"So good I had to share! Check out all the items I\'m loving on @Poshmarkapp #poshmark #fashion #style #shopmycloset\\xe2\\x80\\xa6 https://t.co/2Sk0IZQLZL"'

In [103]:
re.sub("[^a-zA-Z]", " ", dataf.TweetText[128])

'b So good I had to share  Check out all the items I m loving on  Poshmarkapp  poshmark  fashion  style  shopmycloset xe  x   xa  https   t co  Sk IZQLZL '

In [108]:

from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [109]:

pat1 = r'@[A-Za-z0-9]+'
pat2 = r'https?://[A-Za-z0-9./]+'
combined_pat = r'|'.join((pat1, pat2))

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    stripped = re.sub(combined_pat, '', souped)
    try:
        clean = stripped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        clean = stripped
    letters_only = re.sub("[^a-zA-Z]", " ", clean)
    lower_case = letters_only.lower()
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = tok.tokenize(lower_case)
    return (" ".join(words)).strip()

In [110]:
testing = dataf.TweetText[:]

In [111]:
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))

In [113]:
#test_result